.list_title {
  text-align: center;
  color: #002142;
}

.film_list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.film_item {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  background-color: #005068;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.film_link {
  color: white;
}
