.back {
  position: absolute;
  left: 16px;
  top: 76px;
  width: 40px;
  height: 40px;
}

.full_info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.film_img {
  display: block;
  max-width: 200px;
  max-height: 300px;
}

.overview {
  max-width: 800px;
}

.aditional_information {
  background-color: gray;
  height: 100px;
  color: white;
}
